.row{
    margin-left: 10px;
    color: white;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
    width: 100%;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    object-fit: contain;
    width: 200px;
    transition: transform 450ms;
    margin-right: 10px;
}

.row__link{
    margin: 2px;
}

.row__poster:hover {
    transform: scale(1.08);
}
.row__posterLarge{
    width: 155px;
    height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}